<!-- Vendor JS -->
{{- $alpine := resources.Get "js/vendor/alpinejs/dist/cdn.min.js" }}
{{- $collapse := resources.Get "js/vendor/collapse/dist/cdn.min.js" }}
{{- $persist := resources.Get "js/vendor/persist/dist/cdn.min.js" }}
{{- $splide := resources.Get "js/vendor/splide/dist/js/splide.min.js" }}
{{- $theme := resources.Get "js/theme-toggle.js" }}

<!-- Combine JS -->
{{- $js := slice $splide $persist $collapse $alpine | resources.Concat "js/main.js" }}
{{- $js_min := $js | resources.Minify }}
<script defer src="{{ $theme.RelPermalink }}"></script>
<script defer src="{{ $js_min.RelPermalink }}"></script>