{{- define "main" }}
<div class="page__list-jahr pt-[108px] overflow-hidden bg-[#F9FAFB]">
  {{- if .Params.page_header }}
  {{- $include_dict := dict "Params" .Params.page_header }}
  {{ partial "page-list-header.html" $include_dict }}
  {{ else }}
  <section class="hero-section">
    <div class="aspect-w-11 aspect-h-3">
      <div class="w-full h-full bg-cover bg-no-repeat bg-center bg-[url('/images/news-section-1-bg.webp')]">
        <div class="h-full bg-black/60">
          <div class="container w-full h-full max-w-screen-xl mx-auto px-5 xl:px-0 pb-[80px]">
            <div class="w-full h-full flex items-end">
              <div class="w-full flex flex-wrap justify-between items-center">
                <div class="flex-1">
                  {{- with .Title }}
                  <h1 class="text-white lg:text-[6.625rem] font-extrabold font-heading uppercase leading-none">
                    {{ . | safeHTML }}
                  </h1>
                  {{- end }}
                </div>
                <div class="w-[286px] flex-none">
                  <img class="w-full h-auto" src="/images/home-section-1-hotline.png" alt="hotline">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{- end }}

  <div class="container w-full max-w-screen-xl mx-auto px-5 xl:px-0 py-[80px]">
    {{- range .Data.Terms.Alphabetical.Reverse }}
    <div class="mb-[56px] last:mb-0">
      <section class="mission-slider-section overflow-hidden">
        <div x-data="{ 
            init() {
              new Splide(this.$refs.missionslider, {
                perPage  : 3,
                breakpoints: {
                    640: {
                        perPage: 1,
                    },
                },
                gap: '40px',
                padding: { left: '0.5rem', right: '0.5rem' },
                arrows: true,
                pagination: false,
                classes: {
                    arrows: 'splide__arrows',
                    arrow : 'splide__arrow',
                    prev  : 'splide__arrow--prev news-slider__arrow-prev',
                    next  : 'splide__arrow--next news-slider__arrow-next',
                    pagination: 'splide__pagination news-slider__pagination',
                    page      : 'splide__pagination__page news-slider__page',
                },
                }).mount()
              },
          }">

          <div class="splide" x-ref="missionslider">
            <div class="container w-full max-w-screen-xl mx-auto px-5 xl:px-0 mb-10 md:hidden">
              <div class="flex items-center space-x-5">
                <div>
                  <h3 class="text-black text-[2.25rem] font-bold uppercase mb-[10px]">{{- .Page.Title }}</h3>
                  <div class="w-[56px] h-[3px] bg-primary"></div>
                </div>
                <div class="mb-[6px]">
                  <a class="text-xl text-primary font-bold leading-[1.2]" href="{{ .Page.RelPermalink }}">Alle ({{ .Count }})</a>
                </div>
              </div>
            </div>

            <div class="flex flex-col pl-3">
              <div class="container w-full max-w-screen-xl mx-auto px-5 xl:px-0 mt-10 md:mt-0 order-2 md:order-1">
                <div class="md:flex md:justify-between md:items-center mb-10">
                  <div class="flex-1 hidden md:block">
                    <div class="flex items-center space-x-5">
                      <div>
                        <h3 class="text-black text-[2.25rem] font-bold uppercase mb-[10px]">{{- .Page.Title }}</h3>
                        <div class="w-[56px] h-[3px] bg-primary"></div>
                      </div>
                      <div class="mb-[6px]">
                        <a class="text-xl text-primary font-bold leading-[1.2]" href="{{ .Page.RelPermalink }}">Alle({{ .Count }})</a>
                      </div>
                    </div>
                  </div>
                  <div class="relative w-[106px] flex-none">
                    <div class="splide__arrows"></div>
                  </div>
                </div>
              </div>
              <div class="pl-[calc((100%_-_1200px)_/_2)] order-1 md:order-2">
                <div class="splide__track news-slider-track">
                  <ul class="splide__list">
                    {{- $posts := .Pages.ByTitle }}
                    {{- range $index, $post := first 9 $posts }}
                    <li class="splide__slide pb-6">
                      <div class="h-full rounded-[10px] shadow-[0px_10px_20.8px_-3px_rgba(0,0,0,0.1)] bg-white">
                        <div class="py-6 px-[25px]">
                          {{ partial "card-time.html" $post }}
                          <div>
                            <h3 class="text-[#101010] text-[1.375rem] font-heading font-semibold leading-[1.025] mb-2">
                              {{ $post.Title | safeHTML }}</h3>
                            {{- with $post.Params.number }}
                            <p class="text-black leading-normal mb-0">Einsatznummer: {{ . | safeHTML }}</p>
                            {{- end }}
                            {{- with $post.Params.street }}
                            <p class="text-black leading-normal mb-0">Strasse: {{ . | safeHTML }}</p>
                            {{- end }}
                            {{- with $post.Params.group }}
                            <p class="text-black leading-normal mb-0">Gruppe: {{ . | safeHTML }}</p>
                            {{- end }}
                          </div>
                        </div>
                      </div>
                    </li>
                    {{- end }}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    {{- end }}
  </div>
  {{- end }}