{{- with .Site.Data.home.banner_section }}
{{- if .enable }}
<section class="hero-section">
    <div class="container w-full mx-auto px-5 xl:px-8 pt-[80px]">
        <div>
            <a href="{{ .link }}">
                {{ partial "image" (dict "Src" .image_mobile "Alt" "Banner image" "Loading" "eager" "Class" "w-full h-auto md:hidden" "DisplayMD" "780x" ) }}
                {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "w-full h-auto hidden md:block" "DisplayXL" "1600x" ) }}
            </a>
        </div>
    </div>
</section>
{{- end }}
{{- end }}