{{- with .Site.Data.home.news_slider_section }}
{{- if .enable }}
<section class="home-news-section">
    <div class="container w-full mx-auto px-5 xl:px-8 pt-[80px] pb-[104px] md:pb-[56px]">
        <div x-data="{ 
        init() {
          new Splide(this.$refs.newsslider, {
            perPage  : 3,
            mediaQuery: 'min',
            breakpoints: {
                320: {
                    perPage: 1,
                },
                768: {
                    perPage: 3,
                },
                1800: {
                    perPage: 4,
                },
            },
            gap: '40px',
            padding: { left: '0.5rem', right: '0.5rem' },
            arrows: true,
            pagination: false,
            classes: {
                arrows: 'splide__arrows',
                arrow : 'splide__arrow',
                prev  : 'splide__arrow--prev news-slider__arrow-prev',
                next  : 'splide__arrow--next news-slider__arrow-next',
                pagination: 'splide__pagination news-slider__pagination',
                page      : 'splide__pagination__page news-slider__page',
            },
            }).mount()
          },
      }">
            <div class="splide" x-ref="newsslider">
                <div class="flex items-center space-x-5 mb-10 md:hidden">
                    <div>
                        <h3 class="text-black text-[2.25rem] font-bold mb-[10px]">News</h3>
                        <div class="w-[56px] h-[3px] bg-primary"></div>
                    </div>
                    <div class="mb-[6px]">
                        <a class="text-xl text-primary-text font-bold leading-[1.2]" href="/news">Alle</a>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex justify-between items-center px-2 mt-10 md:mt-0 md:mb-10 order-2 md:order-1">
                        <div class="flex-1 hidden md:block">
                            <div class="flex items-center space-x-5">
                                <div>
                                    <h3 class="text-black text-[2.25rem] font-bold mb-[10px]">News</h3>
                                    <div class="w-[56px] h-[3px] bg-primary"></div>
                                </div>
                                <div class="mb-[6px]">
                                    <a class="text-xl text-primary-text font-bold leading-[1.2]" href="/news">Alle</a>
                                </div>
                            </div>
                        </div>
                        <div class="w-[106px] flex-none relative">
                            <div class="splide__arrows"></div>
                        </div>
                    </div>
                    <div class="splide__track home-news__track order-1 md:order-2">
                        <ul class="splide__list">
                            {{- $query := where site.RegularPages "Type" "news" }}
                            {{- range $index, $card := first 9 $query }}
                            <li class="splide__slide pb-6">
                                <div
                                    class="h-full rounded-[10px] shadow-[0px_10px_20.8px_-3px_rgba(0,0,0,0.1)] bg-white relative">
                                    <div class="aspect-w-3 aspect-h-2">
                                        <div
                                            class="absolute top-0 left-0 w-full h-full rounded-t-[10px] overflow-hidden">
                                            {{ if .Params.image_cover }}
                                            {{ partial "image" (dict "Src" .Params.image_cover "Alt" "Slider image"
                                            "Loading"
                                            "eager"
                                            "Class"
                                            "w-full h-auto" "Command" "Fill"
                                            "Size" "420x280" ) }}
                                            {{ else }}
                                            <img src="/images/news-cover.webp" loading="eager" decoding="async"
                                                alt="Slider image" class=" w-full h-auto img" width="420" height="280">
                                            {{ end }}
                                        </div>
                                    </div>
                                    <div class="py-6 px-[25px]">
                                        {{ partial "card-time.html" . }}
                                        <div>
                                            <a class="before:absolute before:content-[''] before:top-0 before:left-0 before:w-full before:h-full"
                                                href="{{ .RelPermalink }}">
                                                <h3
                                                    class="text-[#101010] text-[1.375rem] font-heading font-semibold leading-[1.025] mb-2">
                                                    {{ .Title | safeHTML }}</h3>
                                            </a>
                                            <p class="text-gray-600 leading-normal mb-0">{{ .Params.description |
                                                safeHTML
                                                }}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{- end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{- end }}
{{- end }}