{{- with .Site.Data.news.hero_section }}
{{- if .enable }}
<section class="hero-section">
  <div class="aspect-w-11 aspect-h-3">
    <!-- check file existance -->
    {{- if fileExists (add `assets/` (string .image_bg)) }}
    {{- $image_bg:= resources.Get .image_bg }}
    <div
      class="hero-section__bg w-full h-full bg-cover bg-no-repeat bg-center bg-[url('{{ $image_bg.RelPermalink }}')]" style="background-image: url('{{ $image_bg.RelPermalink }}')">
      {{ else }}
    <div class="w-full h-full bg-cover bg-no-repeat bg-center bg-[url('/images/news-section-1-bg.webp')]">
      {{- end }}
      <div class="h-full bg-black/60">
        <div class="container w-full h-full max-w-screen-xl mx-auto px-5 xl:px-0 pb-[80px]">
          <div class="w-full h-full flex items-end">
            <div class="w-full flex flex-wrap justify-between items-center">
              <div class="flex-1">
                {{- if .title }}
                <h1 class="text-white lg:text-[6.625rem] font-extrabold font-heading uppercase leading-none">{{ .title | safeHTML }}
                </h1>
                {{- end }}
              </div>
              <div class="w-[286px] flex-none">
                {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "w-full h-auto" "DisplayMD" "360x" ) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}