{{- $site := .Site }}
{{- $section := .section }}
{{- with $section }}
{{- if .enable }}
<section class="history-section">
    <div class="container w-full max-w-screen-xl mx-auto px-5 xl:px-0 py-[80px]">
        <div class="grid grid-cols-12 gap-y-[60px] lg:gap-y-0 lg:gap-x-[30px] xl:gap-x-[60px]">
            <div class="col-span-12 lg:col-span-4">
                <header>
                    {{- with .title }}
                    <h2 class="text-[3rem] lg:text-[4rem] text-[#091035] font-bold leading-none mb-5">{{ . | safeHTML }}</h2>
                    {{- end }}
                    {{- with .description }}
                    <p class="text-base text-gray-600 font-medium leading-normal mb-0">{{ . | safeHTML }}</p>
                    {{- end }}
                </header>
            </div>
            <div class="col-span-12 lg:col-span-8 border-l-[3px] border-solid border-primary">
                {{- range .histories }}
                <div class="flex flex-col md:flex-row space-x-[30px] mb-[30px]">
                    <div class="flex-1 pl-[52px] lg:pl-[80px] relative">
                        <div class="absolute w-[23px] lg:w-[50px] h-full left-0 top-0 flex items-center">
                            <div class="w-[23px] lg:w-[50px] h-[3px] bg-primary"></div>
                        </div>
                        <div>
                            {{- with .title }}
                            <h3 class="text-2xl text-[#171717] font-bold leading-[1.12] mb-[10px]">{{ . | safeHTML }}
                            </h3>
                            {{- end }}
                            {{- with .content }}
                            <div class="text-base text-[#4B4B4B] font-normal leading-[1.4]">
                                {{- $include_dict := dict "content" . }}
                                {{ partial "markdownify.html" $include_dict }}
                            </div>
                            {{- end }}
                        </div>
                    </div>
                    <div class="w-[220px] flex-none pl-[22px] md:pl-0">
                        {{- if .image }}
                        <div class="aspect-w-3 aspect-h-2">
                            <div class="absolute top-0 left-0 w-full overflow-hidden rounded-[10px]">
                                {{ partial "image" (dict "Src" .image "Alt" "history image"
                                "Loading"
                                "eager"
                                "Class"
                                "w-full h-auto" "Command" "Fill"
                                "Size" "240x160 Center" ) }}
                            </div>
                        </div>
                        {{- end }}
                    </div>
                </div>
                {{- end }}
            </div>
        </div>
    </div>
</section>
{{- end }}
{{- end }}