{{- $site := .Site }}
{{- $section := .section }}
{{- with $section }}
{{- if .enable }}
<section x-data="{ open: false }" class="page-banner-section bg-white">
    <div class="container w-full max-w-screen-lg mx-auto px-5 xl:px-0 py-[80px]">
        <div @click="open = true">
            {{ partial "image" (dict "Src" .image_mobile "Alt" "Banner image" "Loading" "eager" "Class" "w-full h-auto md:hidden" "DisplayMD" "780x" ) }}
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "w-full h-auto hidden md:block" "DisplayLG" "1200x" ) }}
        </div>
    </div>
    <div x-cloak x-show="open" class="fixed w-full h-screen inset-0 bg-white flex justify-center z-50 overflow-y-auto"
        @click.self="open = false">
        <div class="relative w-[98%] lg:w-full max-w-[1200px]">
            <div class="flex justify-end pt-8 mb-4">
                <button @click="open = false" class="w-8 h-8 bg-gray-300 text-gray-900 flex justify-center items-center">
                    <span class="text-3xl leading-[32px]">
                        <svg class="w-6 h-6 fill-current text-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                    </span>
                </button>
            </div>
            <div>
                {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "w-full h-auto" "DisplayXL" "1200x" ) }}
            </div>
        </div>
    </div>
</section>
{{- end }}
{{- end }}