{{- with .Site.Data.home.slider_section }}
{{- if .enable }}
<section class="banner-slider-section pt-[80px]">
    <div x-data="{ 
            init() {
              new Splide(this.$refs.slider, {
                type   : 'loop',
                perPage: 3,
                breakpoints: {
                    640: {
                        perPage: 1,
                    },
                },
                padding: { left: '8rem', right: '8rem' },
                gap: '1.5rem',
                arrows: false,
                pagination: false,
                classes: {
                    arrows: 'splide__arrows',
                    arrow : 'splide__arrow',
                    prev  : 'splide__arrow--prev slider__arrow--prev',
                    next  : 'splide__arrow--next slider__arrow--next',
                    pagination: 'splide__pagination slider__pagination',
                    page      : 'splide__pagination__page slider__page',
                },
                }).mount()
              },
          }">
        <div class="splide" x-ref="slider">
            <div class="splide__track home-banner__track">
                <ul class="splide__list">
                    {{- range $index, $images := .images }}
                    <li class="splide__slide">
                        <div class="aspect-w-7 aspect-h-5">
                            <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
                                {{ partial "image" (dict "Src" .image "Alt" "Slider image"
                                "Loading"
                                "eager"
                                "Class"
                                "w-full h-auto" "Command" "Fill"
                                "Size" "602x430" ) }}
                            </div>
                        </div>
                    </li>
                    {{- end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{- end }}
{{- end }}