<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en-US` }}">
{{- partial "head/head.html" . }}
{{- partial "head/set-theme.html" . }}

<body>
  {{- partial "header/navbar-top.html" . }}
  {{- partial "header/header.html" . }}
  {{- block "main" . }}{{ end }}
  {{- partial "footer/footer.html" . }}

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>