<section class="hero-section">
    <div class="aspect-w-[175] aspect-h-[212] md:aspect-w-[16] md:aspect-h-[9] lg:aspect-w-3 lg:aspect-h-1">
        <div
            class="page-header__image-default w-full h-full bg-cover bg-no-repeat bg-center bg-[url('/images/page-cover-default.webp')]">
            <div class="h-full bg-black/60">
                <div class="container w-full mx-auto h-full px-5 xl:px-8 pb-[80px]">
                    <div class="w-full h-full flex items-end">
                        <div class="w-full flex flex-wrap justify-between items-center">
                            <div class="flex-1">
                                <div class="lg:w-[90%]">
                                    {{- with .Title }}
                                    <h1
                                        class="text-white text-[3rem] md:text-[4rem] lg:text-[4.75rem] font-extrabold font-heading uppercase leading-none">
                                        {{ . | safeHTML }}
                                    </h1>
                                    {{- end }}
                                </div>
                            </div>
                            <div class="w-[184px] md:w-[240px] lg:w-[286px] flex-none text-primary">
                                {{- partial "svg/hotline.svg" (dict "class" "w-[184px] md:w-[240px] lg:w-[286px] h-auto text-current") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>