<main class="py-[80px]">
    <div class="flex flex-col lg:flex-row lg:space-x-[40px] xl:space-x-[60px] space-y-10 lg:space-y-0">
        <div class="w-full lg:w-2/5 pt-4">
            <div class="aspect-w-1 aspect-h-1 mb-3">
                <div class="absolute top-0 left-0 w-full h-full rounded-[20px] overflow-hidden">
                    {{ partial "image" (dict "Src" .Params.image_cover "Alt" "Slider image" "Loading" "eager" "Class" "w-full h-auto" "Command" "Fill" "Size" "620x620" ) }}
                </div>
            </div>
        </div>
        <div class="w-full lg:w-3/5">
            <table
                class="w-full border border-solid border-gray-300 border-collapse shadow-[0px_20px_25px_-5px_rgba(0,0,0,0.1),_0px_10px_10px_rgba(0,0,0,0.04)]">
                <tbody>
                    {{- with .Params.specification }}
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Fahrzeugtyp</td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .vehicle_type
                            }}</td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Funkname</td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .radio_name
                            }}</td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Jahrgang</td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .vintage }}
                        </td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Aufbau</td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .construction
                            }}</td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Leistung</td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .perfomance
                            }}</td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Getriebe</td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .transmission
                            }}</td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Besatzung</td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .crew }}</td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Gesamtgewicht
                        </td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .total_weight
                            }}</td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Abmessungen
                            (LxBxH)</td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .dimensions
                            }}</td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4">Wassertank</td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .water_tank
                            }}</td>
                    </tr>
                    <tr>
                        <td class="w-2/5 border border-solid border-gray-300 border-collapse py-3 px-4 align-top">Pumpen
                        </td>
                        <td class="w-3/5 border border-solid border-gray-300 border-collapse py-3 px-4">{{ .pump |
                            markdownify }}</td>
                    </tr>
                    {{- end }}
                </tbody>
            </table>
        </div>
    </div>
    <div class="max-w-[840px] mx-auto pt-[80px]">
        {{- if .Params.gallery_images }}
        <div class="grid grid-cols-12 gap-3">
            {{- range .Params.gallery_images }}
            {{- $imagePath:= replace . "assets/" "" }}
            {{- $image := resources.Get $imagePath }}
            {{- with $image }}
            <div class="col-span-6">
                {{- with .Resize (printf "%dx%d webp" .Width .Height) }}
                <a data-fancybox="gallery" data-src="{{ .RelPermalink }}">
                    <img class="w-full max-w-full h-auto" loading="lazy" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                </a>
                {{- end }}
                </div>
            {{- end }}
            {{- end }}
        </div>
        {{- end }}
        <div class="page__content text-gray-600">
            {{ .Content }}
        </div>
    </div>
</main>