{{- $params := .Params }}
{{- with $params }}
{{- if .enable }}
<section class="page-list__header">
    <div class="aspect-w-[175] aspect-h-[212] md:aspect-w-[16] md:aspect-h-[9] lg:aspect-w-11 lg:aspect-h-3">
        <!-- check file existance -->
        {{- if .image_bg }}
        {{- $image_src := replace .image_bg "assets/" "" }}
        {{- if fileExists (add `assets/` (string $image_src)) }}
        {{- $image_bg:= resources.Get $image_src }}
        {{- $image_resize:= $image_bg.Resize "1920x webp q100" }}
        <div class="hero-section__bg w-full h-full bg-cover bg-no-repeat bg-center bg-[url('{{ $image_resize.RelPermalink }}')]"
            style="background-image: url('{{ $image_resize.RelPermalink }}')">
            {{- end }}
            {{ else }}
            <div class="w-full h-full bg-cover bg-no-repeat bg-center bg-[url('/images/news-section-1-bg.webp')]">
                {{- end }}
                <div class="h-full bg-black/60">
                    <div class="container w-full mx-auto h-full px-5 xl:px-8 pb-[80px]">
                        <div class="w-full h-full flex items-end">
                            <div class="w-full flex flex-wrap justify-between items-center">
                                <div class="flex-1 md:pr-8">
                                    {{- with .title }}
                                    <h1
                                        class="text-white text-[3rem] md:text-[4rem] lg:text-[4.75rem] font-extrabold font-heading uppercase leading-none">
                                        {{ . | safeHTML }}
                                    </h1>
                                    {{- end }}
                                </div>
                                <div class="w-[286px] flex-none">
                                    {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class"
                                    "w-full h-auto" "DisplayMD" "360x" ) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{{- end }}
{{- end }}